body
{
 	background-color: #90c3fb;
 	color: #000000;
 	font-size: 13px;	 	
}
input
{
 	font-size: 12px;
}
h1
{
	font-size: 14px;
} 
textarea
{
	margin: auto;
	width: 80%;
	height: 65px;
}
#header
 {
	margin-left: auto;
	margin-right: auto;
	width: 600px;	 
 }
#container
 {
	margin-left:auto;
	margin-right:auto;
	width:95%;
 }
#chat_container
 {
	 width: 80%;
	 float: left;
	
 }
#chat 
 {
 	float: left;
 	border: 1px solid #000000;
 	background-color: #ffffff;
	height: 300px;
	width: 98%;
	overflow: auto;
	padding: 4px;
 }
 #chat p
 {
	 clear: both;
	 padding: 0px;
	 margin: 0px;
 }
#inputs
 {
	clear: both;
 	border: 1px solid #000000;
	width: 98%;
	overflow: hidden;
	padding: 4px;
	background: url(../img/droplets.jpg);
	height: 30px; 
 }
#zitalk_name
 {
	width: 12%
 }
#zitalk_comment
 {
	width: 85%;
 }
#log
 {
	clear: both;
	width: 100%;
 }
#online
 {
	float: left;
 	border: 1px solid #000000;
 	background-color: #ffffff;
	height: 300px;
	width: 15%;
	overflow: auto;
	padding: 4px;
 }	 	 	 
#sounddiv
 {
	width: 90%; 
	margin-left: auto;
	margin-right: auto;	 	
 }	 
#sound
 {
 	width:22px;
 	height:22px;
 }	  
#validator
 {
	clear: both;
 	padding: 8px; 
  	width: 600px;
  	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;			  
 } 	
#credits
 {
	clear: both;
 	color: #000000;
 	background-color:#ffffff;
 	border: 1px solid #000000;
 	padding: 8px; 
  	width: 600px;
	height: 200px;
  	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
 } 
#loading
 {
	color: #ffffff;
	font-weight: bolder;
 }
.hidden
{
	display: none;
}
.detail
{
	color: red;
	text-align: right;
}
.dateuser
{
	font-weight: bolder;
}
#mail
{
	margin: auto;
	width: 80%;
	height: 65px;
}
